bin/content/
CodeGen/Debug/
Project/Include/
03. Tool/Debug/03. Tool.tlog/unsuccessfulbuild
.vs/Uryty/v15/ipch/c55462de4d2d2c2e.ipch
.vs/Uryty/v15/ipch/befef43db3b1a404.ipch
.vs/Uryty/v15/ipch/AutoPCH/627b6e6251de11d5/APPMODUL.ipch
.vs/Uryty/v15/ipch/868bf3c606e2c6ff.ipch
.vs/Uryty/v15/ipch/6b83fd9af995a5b4.ipch
.vs/Uryty/v15/ipch/3207d0e37af90938.ipch
.vs/Uryty/v15/ipch/1eb95862d799253f.ipch
.vs/Uryty/v15/Solution.VC.db-wal
.vs/Uryty/v15/Solution.VC.db-shm
.vs/Uryty/v15/Solution.VC.db
.vs/Uryty/v15/Browse.VC.opendb
.vs/Uryty/v15/Browse.VC.db
.vs/Uryty/v15/.suo
